@page "/customerAttribute"

<h3>CustomerAttributeView</h3>

@if (model == null)
{
<h4>Loading</h4>
                <a href="/details/1">Details</a> }
                            else
                            {
                <div class="tablecustomer">
                    <h1><i class="fas fa-cog"></i> Customer Attribute </h1>
                    <div class="table-list">
                        <a><i class="fas fa-save"></i> Save</a>
                        <table class="table">
                            <thead class="table-thead">
                                <tr>
                                    <th>Attribute Master</th>
                                    <th>Attribute Values Code</th>
                                    <th>Description</th>
                                    <th>Short Name</th>
                                    <th>Parent</th>
                                    <th>Effective Date</th>
                                    <th>Valid Until</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                @foreach (var item in model)
                                {
                <tr>
                    <td>@item.AttributeMaster</td>
                    <td>@item.AttributeValuesCode</td>
                    <td>@item.Description</td>
                    <td>@item.ShortName</td>
                    <td>@item.Parent</td>
                    <td>@item.EffectiveDate</td>
                    <td>@item.ValidUntil</td>
                    <td>
                        <a href="/details/@item.Id">Details</a>
                        <a href="/delete/@item.Id">Delete</a>
                    </td>
                    @*<td>
                            <span class="icon icon-edit" @onclick="() => Edit_ClickAsync(item.Id)">
                                                text
                                            </span>
                        </td>*@
                </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
                }


